.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.title {
  text-align: center;
  color: rgb(165, 138, 219);
}
